/* Vars */

body {
  --color-white-100: rgba(255, 255, 255, 1);
  --color-white-80: rgba(255, 255, 255, 0.8);
  --color-white-60: rgba(255, 255, 255, 0.6);
  --color-white-50: rgba(255, 255, 255, 0.5);
  --color-white-30: rgba(255, 255, 255, 0.3);
  --color-pink-90: rgba(245, 221, 212, 0.9);
  --color-pink-80: rgba(238, 211, 204, 0.8);
  --color-brown-100: #35312e;
  --color-beige-100: rgba(251, 233, 211, 1);
}

/* App */

#app {
  width: 100vw;
  height: 100vh;
  background-image: url('src/assets/beautiful-paradise-island-with-beach-sea.jpg');
  background-position: scroll;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
#app > * {
  max-width: 1200px;
  margin: auto;
}

/* Header */

#header {
  flex: 1;
  display: flex;
  width: 100%;
  padding: 1em 0;
  position: relative;
  justify-content: flex-end;
  min-height: 9em;
  max-height: 9em;
  gap: 1rem;
}
#header-logo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
h1 {
  font-family: Satisfy;
  color: var(--color-white-100);
  font-size: 4rem;
  font-weight: 400;
  padding: 0 1em;
  border-bottom: 3px solid var(--color-white-100);
  text-shadow: 3px 3px var(--color-brown-100);
}
#locale-options {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0.6em;
}

/* Dashboard */

#dashboard {
  width: 100%;
  flex: auto;
  /* overflow-y: auto;
  overflow-x: auto; */
  padding: 0 0 1em;
  margin: 1em auto 0;
  display: flex;
  flex-direction: column;
  --column-gap: 1em;
  max-height: 100%;
}
.day-overview-columns {
  position: sticky;
  top: 0;
}
.day-overview {
  height: auto;
  padding: 1em 0;
}
.day-overview-columns,
.flights-overview-columns {
  max-width: 200%;
  display: flex;
  gap: var(--column-gap);
}
.flights-day-header,
.flights-day-list {
  min-width: calc(25% - var(--column-gap));
  max-width: calc(25% - var(--column-gap));
  overflow: scroll;
  max-height: 20rem;
}
.flights-day-header {
  overflow: hidden;
  border-bottom: 0.2em solid var(--color-pink-80);
}
.flights-day-header h3 {
  padding: 0.3em 0.9em 0.1em;
  height: 120%;
  border-radius: 0.3em;
  background: var(--color-white-100);
  font-size: 1rem;
}
.flights-overview {
  height: 100%;
}
.flights-day-list {
  display: flex;
  gap: 0.2em;
  flex-direction: column;
}
.cheap-flight {
  cursor: pointer;
  font-size: 0.9rem;
  border-radius: 0.3em;
  padding: 0.5em 1em;
  background: var(--color-white-80);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  transition: 0.25s;
}
.cheap-flight-info {
  display: flex;
  gap: 0.5em;
  justify-content: space-between;
}
.cheap-flight img {
  height: 1.3rem;
  margin: 0.1rem;
  padding-top: 0.2em;
}
.cheap-flight-more-info {
  display: flex;
  gap: 0.5em;
}
.transfer {
  text-transform: uppercase;
  border: 1px solid var(--color-white-100);
  font-size: 0.5rem;
  font-weight: 700;
  color: red;
  background: var(--color-white-50);
  padding: 0.2em 0.4em;
  align-self: center;
}
.price {
  align-self: center;
  font-weight: 700;
}

/* Forms */

#flight-options {
  display: flex;
  gap: 1em;
}
.option-wrapper,
.option-wrapper-disabled,
#flight-options-search {
  display: flex;
  gap: 0.5em;
  padding: 0.3em 0.9em;
  border-radius: 0.5em;
  border: 2px solid var(--color-white-80);
  background: var(--color-white-60);
  transition: 0.25s;
}
#header .option-wrapper,
.option-wrapper-disabled {
  display: flex;
  padding: 0.3em 0.7em;
  border: 2px solid var(--color-white-80);
  background: var(--color-pink-90);
}
.option-dropdown,
.option-calendar {
  height: 1.6em;
  border-radius: 0;
  border-bottom: 2px solid var(--color-white-100);
}
#flight-options-from {
  min-width: 16em;
}
#flight-options-start-date {
  max-width: 6em;
  display: inline-block;
  text-align: left;
}
#flight-options-search {
  cursor: pointer;
  font-weight: 600;
}
#option-label-calendar {
  padding: 0 3px;
  border: 2px solid var(--color-white-80);
}

/* Modal */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.flight-data-modal {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 8px;
  max-width: 50vw;
  width: 100%;
  max-height: 60vh;
  height: 100%;
  text-align: center;
  position: fixed;
}

#close-modal {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
}

#flight-price {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.buy-now-button {
  background-color: #196ed7;
  color: white;
  padding: 12px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.buy-now-button:hover {
  background-color: #11519f;
}

/* Loading and welcome */

.welcome-container,
.loading-container {
  width: 100%;
  height: 100%;
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome-container > * {
  padding: 2em 4em;
  background: var(--color-white-30);
  border: 20px solid var(--color-white-30);
}
.welcome-container * {
  line-height: 1.7rem;
}
.welcome-container h2 {
  font-family: Satisfy;
  font-size: 2rem;
  padding: 0 0 0.5em;
  margin: 0 0 0.5em;
  border-bottom: 2px solid var(--color-brown-100);
}
.welcome-container li:before {
  content: '✔';
  padding: 0 0.8em;
}
.loading {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: Satisfy;
  font-size: 2rem;
  animation: pulse 1s infinite;
  opacity: 0;
}
@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Footer */

#footer {
  flex: 1;
  width: 100%;
  padding: 1em 0;
}
#footer-notes {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
}
#footer-notes img {
  height: 2rem;
  width: auto;
  opacity: 0.85;
}

/* Effects */

.option-wrapper:hover,
#flight-options-search:hover {
  background: var(--color-white-80);
}
#flight-options-search:active {
  background: var(--color-white-100);
  transition: 0s;
}
.cheap-flight:hover {
  background: var(--color-beige-100);
  transition: 0s;
}

.geolocation {
  display: flex;
  padding: 0.3em 0.7em;
  border: 2px solid var(--color-white-80);
  border-radius: 0.5rem;
  background: var(--color-pink-90);
  cursor: pointer;
}

.geolocation-icon {
  color: rgb(46, 46, 46);
  font-size: 1rem;
}
