/* App */

#app {
  width: 100vw;
  height: 100vh;
  background-image: url('src/assets/beautiful-paradise-island-with-beach-sea.jpg');
  background-position: scroll;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
}
#app > * {
  max-width: 1200px;
  margin: auto;
}

/* Header */

#header {
  flex: 1;
  display: flex;
  width: 100%;
  padding: 1em 0;
  position: relative;
  justify-content: flex-end;
  min-height: 11em;
  max-height: 11em;
}
#header-logo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
h1 {
  font-family: Satisfy;
  color: #fff;
  font-size: 4rem;
  font-weight: 400;
  padding: 0 1em;
  border-bottom: 3px solid #fff;
  text-shadow: 3px 3px #35312e;
}
#locale-options {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0.6em;
}

/* Dashboard */

#dashboard {
  flex: auto;
}

/* Forms */

#flight-options {
  display: flex;
  gap: 1em;
}
.option-wrapper {
  padding: 0.3em 0.5em;
  border-radius: 0.5em;
  border: 2px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.6);
}
#header .option-wrapper {
  display: inline;
  border: 2px solid rgba(255, 255, 255, 0.7);
  background: rgba(245, 221, 212, 0.8);
  text-align: right;
}
.option-dropdown {
  max-width: 15em;
}

/* Footer */

#footer {
  flex: 1;
  width: 100%;
  max-height: 6em;
}
#footer-notes {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
}
#footer-notes img {
  height: 2rem;
  width: auto;
  opacity: 0.85;
}
