/* App */

#app {
  width: 100vw;
  height: 100vh;
  background-color: #f7eadf;
  background-image: url('src/assets/beautiful-paradise-island-with-beach-sea.jpg');
  background-position: scroll;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
}
#app > * {
  max-width: 1200px;
  margin: auto;
}

/* Header */

#header {
  flex: 1;
  display: flex;
  width: 100%;
  padding: 2em;
}
#header-logo {
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 12em;
}
h1 {
  font-family: Satisfy;
  color: #fff;
  font-size: 4rem;
  font-weight: 400;
  padding: 0 1em;
  border-bottom: 3px solid #fff;
  text-shadow: 3px 3px #35312e;
}
#locale-options {
  width: 12em;
}

/* Dashboard */

#dashboard {
  flex: auto;
}

/* Forms */

#flight-options {
  display: flex;
  gap: 3em;
}
.option-wrapper {
  padding: 0.5em 1em;
  margin-bottom: 0.25em;
  border-radius: 0.5em;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.6);
}
#header .option-wrapper {
  border: 2px solid #fff;
  background: rgba(245, 221, 212, 0.8);
}

/* Footer */

#footer {
  flex: 1;
  width: 100%;
}
#footer-notes {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
}
#footer-notes img {
  height: 2rem;
  width: auto;
  opacity: 0.85;
}
