/* CSS reset */

body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  color: #35312e;
}

input,
button,
select,
option {
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input:focus,
button:focus,
select:focus {
  outline: none;
}

/* Default settings */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  background-color: #f7eadf;
}

label {
  padding: 0 10px;
}

select {
  border-bottom: 2px solid #fff;
  padding-left: 10px;
}
