/* CSS reset */

body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  color: #35312e;
}

button {
  background: transparent;
  border: none;
}

/* Default settings */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

input,
button {
  border: none;
}

label {
  padding-right: 10px;
}
